body {
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
}

.input-padrao {
    display: block;
    margin-bottom: 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all;
    cursor: pointer;
}

.enviar:hover {
    background-color: darkorange;
    transform: scale(1.1);
}

table {
    margin: 20px 0 40px;
}

thead {
    background-color: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px;
}

@media screen and (max-width: 480px){
    main, form label, form legend, .enviar, .input-padrao {
        width: auto;
        text-align: center;
    }

    form label, form legend {
        font-size: 22px;
    }

    .input-padrao, .checkbox, .atendimento, table {
        margin: 0 auto 20px auto;
    }

    .checkbox {
        width: 90%;
    }

    .checkbox input {
        margin-right: 6px;
        width: 20px;
        height: 20px;
    }

    .atendimento select {
        padding: 6px;
        font-size: 16px;
    }

    .enviar {
        width: 50%;
        font-size: 20px;
    }

    table td, table th {
        font-size: 20px;
    }
}